$main-dark: #040711;
$text-light: #F9FAFB;
$text-dark: #4D5562;
$grey: #394150;
$primary: #3662E3;
$accent: #7CA9F3;
$window-input-background: #212936cc;
$window-output-background: #121826cc;
$window-border-color: #394150;